@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    color: #FFFFFF;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #C9B6E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    position: relative;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #C9B6E4;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    margin-right: 1rem;
    margin-left: 35px;
    transition: color 0.3s;
}

.navbar a:hover {
        color: #00abf0;
}

html {
    scroll-behavior: smooth;
}

.home {
    height: 100vh;
    background: url('home.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    color: #3D3B40;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F7DBF1;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #7469B6;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F7DBF1;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    color: #3D3B40;
    margin: 20px 0 40px;
    
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F7DBF1;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F7DBF1;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #7469B6;
    border: 2px solid #7469B6;
    border-radius: 8px;
    font-size: 19px;
    color: #F7DBF1;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s;
}

.btn-box a:hover {
    color: #7469B6;
    transition: translateY(-3px);
}

.btn-box a.smooth-scroll {
    scroll-behavior: smooth;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #7469B6;
}

.btn-box a:nth-child(2):hover {
    color: #F7DBF1;
}

.btn-box a:nth-child(2)::before {
   background: #7469B6;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#F7DBF1;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F7DBF1;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #7469B6;
    border-radius: 50%;
    font-size: 20px;
    color: #7469B6;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #F7DBF1;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7469B6;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #F7DBF1;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F7DBF1;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}


/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background: #F7DBF1;
    color: #3D3B40;
    padding-bottom: 3rem;
}

.heading {
    font-size: 56px;
    margin-bottom: 0.1px;
    text-align: center;
}

span {
    color: #7469B6;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 65%;
    border-radius: 60%;
    border: .2rem solid #7469B6;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 73%;
    height: 73%;
    border-radius: 50%;
    border-top: .2rem solid #F7DBF1;
    border-bottom: .2rem solid #F7DBF1;
    border-left: .2rem solid #7469B6;
    border-right: .2rem solid #7469B6;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 32px;
}

.about-content p {
    font-size: 16px;
    margin: 15px 30px 35px 30px;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: #F7DBF1;
}

.portfolio {
    background: #F7DBF1;
}

.portfolio h2 {
    margin-bottom: 4rem;
    color: #3D3B40;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #3D3B40;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0, .6), #7469B6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0%);
}

.portfolio-layer h4 {
    font-size: 1.5rem;
}

.portfolio-layer p {
    font-size: .8rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: #FFFFFF;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1.7rem;
    color: #7469B6;
}

.contact {
    background: #F7DBF1;
}

.contact h2 {
    margin-bottom: 3rem;
    color: #3D3B40;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 4rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: #3D3B40;
    background: #FFFFFF;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 100%;
    background: #7469B6;
    border: 2px solid #7469B6;
    border-radius: 10px;
    font-size: 18px;
    color: #F7DBF1;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contact form .btn::before {
    background: #F7DBF1;
}

.contact form .btn:hover {
    color: #7469B6;
}

.contact form .btn:nth-child(2) {
    background: transparent;
    color: #7469B6;
}

.contact form .btn:nth-child(2):hover {
    color: #F7DBF1;
}

.contact form .btn:nth-child(2)::before {
   background: #7469B6;
}

.contact form .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#F7DBF1;
    z-index: -1;
    transition: .5s;
}

.contact form .btn:hover::before {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #F7DBF1;
}

.footer-text p {
    font-size: 1.6rem;
    color: #3D3B40;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #F7DBF1;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #F7DBF1;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #C9B6E4;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #F7DBF1;
        border-top: .1rem solid rbga(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}